
/* Custom CSS rules */
body {
  padding-top: 60px;
  font-family: Arial, sans-serif;
}
.navbar {
  background-color: #bec9d3;
}
.navbar-brand {
  font-weight: bold;
}
.nav-link {
  color: #fff;
}
.carousel-item img {
height: 400px;
object-fit: cover;
}

.carousel-item.active {
display: block;
}

.carousel-item {
display: none;
}

.carousel-inner {
position: relative;
}

.carousel-control-prev,
.carousel-control-next {
position: absolute;
top: 50%;
transform: translateY(-50%);
width: 3rem;
height: 3rem;
background-color: rgba(0, 0, 0, 0.5);
color: #fff;
border-radius: 50%;
font-size: 1.5rem;
line-height: 3rem;
text-align: center;
}

.carousel-control-prev {
left: 1rem;
}

.carousel-control-next {
right: 1rem;
}
.jumbotron {
  background-color: #fdfeff;
  padding: 80px;
  padding-top: 20px;
  margin-bottom: 30px;
}
.jumbotron h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-shadow: #f8f9fa;
  text-transform: capitalize;
}
.lead {
  font-size: 24px;
  color: #7b94a9;
  text-transform: lowercase;
  font-weight: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.container {
  margin-top: 40px;
  margin-bottom: 40px;
}
h2 {
  margin-bottom: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.course {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 20px;
}


.course img {
width: 300px;
height: 200px;
object-fit: cover;
transition: transform 0.3s;
}

.course-content {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
padding: 20px;
background-color: rgba(243, 236, 236, 0.8);
color: #0c0c0c;
opacity: 0;
transition: opacity 0.3s;
}

.course:hover img {
transform: scale(1.1);
}

.course:hover .course-content {
opacity: 1;
}
.footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
}


  .container-register {
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    align-items: center;
    margin-left: 20px;
    
    
    
   
  }
  .container-register form {
    width: 300px; /* Adjust the width as needed */
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }

  h1 {
    text-align: center;
    color: #333;
  }

  label {
    display: block;
    margin-top: 10px;
    color: #333;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #9a8d8d;
  }
/*.about-us{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    height: 10cm;
    width: 30cm;
    background: #7b94a9;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
*/
.about-us {
    padding: 40px;
    background-color: #bec9d3;
    text-align: center;
  }

  .about-us h2,
  .about-us h5,
  .about-us p {
    text-align: center;
    margin-bottom: 20px;

  }

  .text-light {
    color: #888;
  }
  .footer .social-icons {
    margin-top: 10px;
  }

  .footer .social-icons i {
    font-size: 20px;
    margin: 0 5px;
  }
  .footer{
    background-color: #bec9d3;
    padding: 20px;
    text-align: center;
  }

